<%- include("layout/header.ejs") %>

<div class="container mt-5">
    <h2 class="text-center mb-4">Users List</h2>
    <div class="table-responsive">
        <% if(users != ""){ %>
        <table class="table table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
               <% users.forEach((row,index)=>{ %>
                <tr>
                    <td><%= index  %></td>
                    <td><%= row.name  %></td>
                    <td><%= row.email  %></td>
                    <td><%= row.phone  %></td>
                    <td><img src="<%= row.image  %>" width="50" height="50"></td>
                    <td>
                        <a href="/edit/<%= row._id  %>" class="btn btn-sm btn-warning">Edit</a>
                        <a href="/delete/<%= row._id  %>" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
               <%    })  %>
               
            </tbody>
        </table>
        <% }else{ %>
            <h3>No users</h3>
            <% } %>
    </div>
</div>
<%- include("layout/footer.ejs") %>